<header>
        <div class="navbar navbar-expand-sm bg-secondary navbar-dark">
            <div class="container">
                <ul class="navbar-nav mr-auto">
                    <li
                        {% if request.path == '/' %}
                            class="nav-item active"
                        {% else %}
                            class="nav-item"
                        {% endif %}
                    >
                    <a href="{% url 'homepage' %}" class="nav-link">Home</a>
                    </li>
                    <li
                        {% if 'prev' in request.path %}
                            class="nav-item active"
                        {% else %}
                            class="nav-item"
                        {% endif %}
                    >
                <a href="{% url 'prev' %}" class="nav-link">Old Movies</a>
                </li>
                </ul>
                <form class="navbar-form navbar-left" role="search" method="GET" action="">
                    <div class="input-group">
                        <input class="form-control" type="text" name="q" placeholder="Search movie" value="{{ request.GET.q }}" >
                        <span class="input-group-btn">
                            <input class="btn btn-default" type="submit" value="Search">
                        </span>
                    </div>
                </form>
                <ul class="navbar-nav">
                    {% if request.user.is_authenticated %}
                        <li
                        {% if 'profile' in request.path %}
                            class="nav-item active"
                        {% else %}
                            class="nav-item"
                        {% endif %}
                        >
                            <a href="{% url 'profile' request.user.id %}" class="nav-link">{{ request.user.username }}</a></li>
                        <li>
                            <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">Logout</a>
                            <form action="{% url 'logout' %}" method="POST" id="logout">
                                {% csrf_token %}
                                    <input type="hidden">
                            </form>
                        </li>
                    {% else %}
                        <li
                        {% if 'login' in request.path %}
                            class="nav-item active"
                        {% else %}
                            class="nav-item"
                        {% endif %}
                        >
                        <a href="{% url 'login' %}" class="nav-link">Login</a>
                        </li>
                        <li
                        {% if 'register' in request.path %}
                            class="nav-item active"
                        {% else %}
                            class="nav-item"
                        {% endif %}
                        >
                        <a href="{% url 'register' %}" class="nav-link">Register</a>
                        </li>
                        {% endif %}
                </ul>
            </div>
        </div>
    </header>