{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <img class="card-img" src="{{ movie.get_image_path }}" alt="">
        </div>
        <div class="col-md-9">
            <h1>{{ movie.name }}</h1>
            <hr>
            <p>{{ movie.description }}</p>
            <hr>
            {% if isLoggedin %}
            <form method="post" style="margin-top: 1.3em;">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}