{% extends 'layout.html' %}
{% load static %}
{% block content %}

<div class="modal fade" id="followers" tabindex="-1" aria-labelledby="followersLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="followersLabel">{{ user.username }}'s followers</h5>
            </div>
            <div class="modal-body">
                {% for follower in followers %}
                    <a href="{% url 'profile' follower.follower.id %}">{{ follower.follower.username }}</a><br>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="following" tabindex="-1" aria-labelledby="followingLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="followingLabel">{{ user.username }}'s following</h5>
            </div>
            <div class="modal-body">
                {% for follow in following %}
                    <a href="{% url 'profile' follow.following.id %}">{{ follow.following.username }}</a><br>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-8 col-12 mx-auto p-2">
        <div class="card border ">
            <div class="card-body d-flex">
                <div class="mr-auto">
                    <img src="{{ profile.profile_pic.url }}" width="120" height="140" class="rounded-circle">
                    {% if request.user.is_authenticated and request.user.id == user.id %}
                        <a href="{% url 'edit_profile' %}" class="btn btn-link" role="button">Edit Your
                            Profile</a>
                    {% endif %}
                </div>
                <div class="text-center w-100">
                    <h5>{{ user.username }}&emsp;</h5>
                    {% if can_follow %}
                        {% if request.user.is_authenticated %}
                            <a class="btn btn-outline btn-success" href="{% url 'follow' user.id %}">Follow</a>
                        {% endif %}
                    {% endif %}
                    {% if can_unfollow %}
                        <a class="btn btn-outline btn-danger" href="{% url 'un-follow' user.id %}">Unfollow</a>
                    {% endif %}
                    <br>
                    <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#followers">
                        followers
                    </button>
                    : {{ followers | length }}&emsp;
                    <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#following">
                        following
                    </button>
                    : {{ following | length }}
                    <br><br>
                    social media: <a href="https://{{ profile.social_media_url }}"
                                     class="h-6">{{ profile.social_media_url }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-8 col-12 mx-auto p-2">
        <div class="card border ">
            <div class="card-body d-flex">
                <div class="text-center w-100">
                    <div class="card-body text-success">
                        <h5>{{ user.username }}'s comments</h5><br>
                        {% for comment in profile.get_comments %}
                            <div class="d-flex">
                                {{ comment.movie.name }}: {{ comment.comment }} ( {{ comment.rating }} )
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}